<div id="movieSlider" class="carousel slide bgn" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {% for film in films %}
                <div class="col-md-2">
                    <a href="/Watch/{{film.id}}">
                        <div class="card bg-dark  border-secondary"
                             style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                            <img src="/static/{{ film.imgv }}" class="card-img-top" alt="Movie 3">
                            <div class="card-body">
                                <h5 class="card-title gtext">{{film.title}}</h5>
                                <p class="card-text gtext"
                                                       style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                        {% if film.desc|length > 34 %}
                                                        {{ film.desc[:34] }}...
                                                        {% else %}
                                                        {{ film.desc }}
                                                        {% endif %}
                                                    </p>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1" style="width: 45px;">
                                    </div>
                                    <div class="align-self">
                                        <h5 class="card-title mb-1 gtext">{{film.imbd}}</h5>
                                    </div>
                                    {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ film.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ film.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>