{% extends "base.html" %}
{% block title %}მთავარი{% endblock %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide gbl " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for film in films[:1] %}
        <div class="carousel-item active">
            <img src="/static/{{ film.imgh }}" class="d-block w-100" style=" width: 1300px; height: 730px;">
            <div class="carousel-caption d-none d-md-block ">
                <h1 style="font-size: 5em; color: white;">{{film.title}}</h1>
                <h5>
                    {% for genre in genres %}
                    <a href="{{ url_for('movies_by_genre', genre_name=genre) }}">{{ genre }}</a>
                    {% endfor %}
                </h5>
            </div>
        </div>
        {% endfor %}
        {% for film in films[1:3] %}
        <div class="carousel-item">
            <img src="/static/{{ film.imgh }}"
                 class="d-block w-100" style=" width: 1300px; height: 730px;">
            <div class="carousel-caption d-none d-md-block ">
                <h1 style="font-size: 5em; color: white;">{{ film.title }}</h1>
                <h5>
                    {% for genre in genres %}
                    <a href="{{ url_for('movies_by_genre', genre_name=genre) }}">{{ genre }}</a>
                    {% endfor %}
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div films class="container-sm bg">
    <div>
        <div class="row">
        <div class="col mt-2">
            <h1>
                <a href="/category/2" class="gtext">
                    {% for film in films[:1] %}
                    {{ film.category.category }}
                    {% endfor %}
                </a>
            </h1>
        </div>
        <div class="col d-flex justify-content-end">
            <form class="btn-group my-3">
                <a data-bs-slide="prev" data-bs-target="#MovieCarousel" type="button"
                   style="background-color: transparent; color: #d3d4d9;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" fill="currentColor"
                         class="bi bi-caret-left" viewBox="0 0 16 16">
                        <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a type="button" data-bs-target="#MovieCarousel" data-bs-slide="next"
                   style="background-color: transparent; color: #d3d4d9;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" fill="currentColor"
                         class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    <span class="visually-hidden">Next</span>
                </a>
            </form>
        </div>
    </div>

        <div id="MovieCarousel" class="carousel slide gbl pb-2" data-bs-ride="true">
            <div class="carousel-indicators mt-4">
                <button type="button" data-bs-target="#MovieCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#MovieCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#MovieCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="movieSlider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="">
                                <div class="row">
                                    {% for film in films[:6] %}
                                    <div class="col-md-2">
                                        <a href="/Watch/{{film.id}}">
                                            <div class="card bg-dark  border-secondary"
                                                 style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                                <img src="/static/{{ film.imgv }}" class="card-img-top"
                                                     alt="Movie 3">
                                                <div class="card-body">
                                                    <h5 class="card-title gtext">{{film.title}}</h5>
                                                    <p class="card-text gtext"
                                                       style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                        {% if film.desc|length > 34 %}
                                                        {{ film.desc[:34] }}...
                                                        {% else %}
                                                        {{ film.desc }}
                                                        {% endif %}
                                                    </p>
                                                    <div class="d-flex mt-1 align-items-center">
                                                        <div>
                                                            <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                                 style="width: 45px;">
                                                        </div>
                                                        <div class="align-self-end">
                                                            <h5 class="card-title gtext mb-1">{{film.imbd}}</h5>
                                                        </div>
                                                        {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ film.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ film.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="movieSlider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="">
                                <div class="row">
                                    {% for film in films[6:12] %}
                                    <div class="col-md-2">
                                        <a href="/Watch/{{film.id}}">
                                            <div class="card bg-dark  border-secondary"
                                                 style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                                <img src="/static/{{ film.imgv }}" class="card-img-top"
                                                     alt="Movie 3">
                                                <div class="card-body">
                                                    <h5 class="card-title gtext">{{film.title}}</h5>
                                                    <p class="card-text gtext"
                                                       style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                        {% if film.desc|length > 34 %}
                                                        {{ film.desc[:34] }}...
                                                        {% else %}
                                                        {{ film.desc }}
                                                        {% endif %}
                                                    </p>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                                 style="width: 45px;">
                                                        </div>
                                                        <div class="align-self-end">
                                                            <h5 class="card-title gtext mb-1">{{film.imbd}}</h5>
                                                        </div>
                                                        {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ film.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ film.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="movieSlider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="">
                                <div class="row">
                                    {% for film in films[12:18] %}
                                    <div class="col-md-2">
                                        <a href="/Watch/{{film.id}}">
                                            <div class="card bg-dark  border-secondary"
                                                 style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                                <img src="/static/{{ film.imgv }}" class="card-img-top"
                                                     alt="Movie 3">
                                                <div class="card-body">
                                                    <h5 class="card-title gtext">{{film.title}}</h5>
                                                    <p class="card-text gtext"
                                                       style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                        {% if film.desc|length > 34 %}
                                                        {{ film.desc[:34] }}...
                                                        {% else %}
                                                        {{ film.desc }}
                                                        {% endif %}
                                                    </p>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                                 style="width: 45px;">
                                                        </div>
                                                        <div class="align-self-end">
                                                            <h5 class="card-title gtext mb-1">{{film.imbd}}</h5>
                                                        </div>
                                                        {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ film.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ film.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div series class="container-sm bg">
    <div class="row">
        <div class="col mt-2">
            <h1>
                <a href="/category/2" class="gtext">
                    {% for serie in series[:1] %}
                    {{ serie.category.category }}
                    {% endfor %}
                </a>
            </h1>
        </div>
        <div class="col d-flex justify-content-end">
            <form class="btn-group my-3">
                <a data-bs-slide="prev" data-bs-target="#seriesSlider" type="button"
                   style="background-color: transparent; color: #d3d4d9;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" fill="currentColor"
                         class="bi bi-caret-left" viewBox="0 0 16 16">
                        <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                    </svg>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a type="button" data-bs-target="#seriesSlider" data-bs-slide="next"
                   style="background-color: transparent; color: #d3d4d9;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" fill="currentColor"
                         class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                    </svg>
                    <span class="visually-hidden">Next</span>
                </a>
            </form>
        </div>
    </div>


    <div id="seriesSlider" class="carousel slide gbl pb-2" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#seriesSlider" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#seriesSlider" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#seriesSlider" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="seriesSlider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="">
                            <div class="row">
                                {% for serie in series[:6] %}
                                <div class="col-md-2">
                                    <a href="Watch/{{serie.id}}">
                                        <div class="card bg-dark  border-secondary"
                                             style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                            <img src="/static/{{ serie['imgv'] }}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title gtext">{{ serie['title'] }}</h5>
                                                <p class="card-text gtext"
                                                   style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                    {% if serie.desc|length > 34 %}
                                                    {{ serie.desc[:34] }}...
                                                    {% else %}
                                                    {{ serie.desc }}
                                                    {% endif %}
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                             style="width: 45px;">
                                                    </div>
                                                    <div class="align-self-end">
                                                        <h5 class="card-title gtext mb-1">{{serie.imbd}}</h5>
                                                    </div>
                                                    {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ serie.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ serie.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div id="seriesSlider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="">
                            <div class="row">
                                {% for serie in series[6:12] %}
                                <div class="col-md-2">
                                    <a href="Movie_example">
                                        <div class="card bg-dark  border-secondary"
                                             style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                            <img src="/static/{{ serie['imgv'] }}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title gtext">{{ serie['title'] }}</h5>
                                                <p class="card-text gtext"
                                                   style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                    {% if serie.desc|length > 34 %}
                                                    {{ serie.desc[:34] }}...
                                                    {% else %}
                                                    {{ serie.desc }}
                                                    {% endif %}
                                                </p>
                                            </div>                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                             style="width: 45px;">
                                                    </div>
                                                    <div class="align-self-end">
                                                        <h5 class="card-title gtext mb-1">{{serie.imbd}}</h5>
                                                    </div>
                                                    {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ serie.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ serie.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div id="seriesSlider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="">
                            <div class="row">
                                {% for serie in series[12:18] %}
                                <div class="col-md-2">
                                    <a href="Movie_example">
                                        <div class="card bg-dark  border-secondary"
                                             style="--bs-bg-opacity: .5; width: 170px; height: 360px;">
                                            <img src="/static/{{ serie['imgv'] }}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title gtext">{{ serie['title'] }}</h5>
                                                <p class="card-text gtext"
                                                   style="max-height: 30px; overflow: clip; line-height: 1.2em; font-size: 12px;">
                                                    {% if serie.desc|length > 34 %}
                                                    {{ serie.desc[:34] }}...
                                                    {% else %}
                                                    {{ serie.desc }}
                                                    {% endif %}
                                                </p>
                                            </div>                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <img src="/static/IMDB.svg" alt="IMDb Icon" class="me-1"
                                                             style="width: 45px;">
                                                    </div>
                                                    <div class="align-self-end">
                                                        <h5 class="card-title gtext mb-1">{{serie.imbd}}</h5>
                                                    </div>
                                                    {%if current_user.role == "admin"%}
                                                        <form class="btn-group ms-4">
                                                            <a href="/edit_movie/{{ serie.id }}"
                                                               class="btn btn-outline-info"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-pencil-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                                </svg>
                                                            </a>
                                                            <a href="/delete_movie/{{ serie.id }}"
                                                               class="btn btn-outline-danger"
                                                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                     height="16"
                                                                     fill="currentColor" class="bi bi-trash"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                                </svg>
                                                            </a>
                                                        </form>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock %}