{% extends "base.html" %}
{% block title %}რეგისტრაცია{% endblock %}
{% block content %}
<div class="container bgadd my-4">
    <div errorebi>
        {% if form.errors %}
        {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <bodyy class="container">
        <body_log class="container-sm">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card bg-dark" style="color: #146fff;">
                            <div class="card-header">
                                <h2 class="text-center">რეგისტრაცია</h2>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label>სახელი: </label>
                                        {{ form.username(Class="form-control", required="required") }}
                                    </div>
                                    <div class="form-group">
                                        <label>ემაილი:</label>
                                        {{ form.email(Class="form-control", required="required") }}
                                    </div>
                                    <div class="form-group">
                                        <label>პაროლი:</label>
                                        {{ form.password(Class="form-control", required="required") }}
                                    </div>
                                    <div class="form-group">
                                        <label>გაიმეორეთ პაროლი:</label>
                                        {{ form.repeat_password(Class="form-control", required="required") }}
                                    </div>
                                    <div class="form-group">
                                        <label>სქესი</label>
                                        {{ form.gender }}
                                    </div>


                                    <div class="form-group text-center">
                                        {{form.submit(class="btn btn-primary mt-2")}}
                                    </div>
                                    <p class="text-center"><a href="/Login">Already have an account? Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        </body_log>
    </bodyy>

</div>
{% endblock %}
